/* 
    Document   : edit
    Created on : 30/03/2014, 11:33:17 PM
    Author     : Pato
    Description:
        Purpose of the stylesheet follows.
*/
root { 
    display: block;
}

span.valid {
		  width: 24px;
		  height: 24px;
		  background: url(img/valid.png) center center no-repeat;
		  display: inline-block;
		  text-indent: -9999px;
		}
label.error {
            font-weight: bold;
            color: red;
            padding: 2px 8px;
            margin-top: 2px;
}
#image-list{
	list-style:none;
	margin:0;
	padding:0;
        width:50px;
        height:50px;
}
#image-list li{
	background: #fff;
	border: 1px solid #ccc;
	text-align:center;
	margin-bottom:19px;
}
#image-list li img{
	width: 258px;
	vertical-align: middle;
	border: 1px solid #474747;
}
#picture{
    width: 100px;
    height: 100px;
}