/* 
    Document   : create
    Created on : 24/03/2014, 10:45:15 PM
    Author     : Pato
    Description:
        Purpose of the stylesheet follows.
*/
span.valid {
		  width: 24px;
		  height: 24px;
		  background: url(img/valid.png) center center no-repeat;
		  display: inline-block;
		  text-indent: -9999px;
		}
label.error {
            font-weight: bold;
            color: red;
            padding: 2px 8px;
            margin-top: 2px;
            float:right;
}

